<div id="gos-container" class="container hidden fade">
	<div id="gos-mainPanel" data-default-class="col-lg-9 col-md-9 col-xs-8">
		<header id="gos-headerBar" class="gos-headerbar">
			<a id="gos-btnHome" href="/" class="gos-header-btn"><span class="fa fa-home"></span> Kere </a>
			<a id="gos-current-user" class="gos-header-btn"><i class="fa fa-user"></i> jiorry</a>
			<a id="gos-goback" class="gos-header-btn" ng-click="goBack()">&lt;-返回</a>
			<strong id="gos-headerTitle"></strong>
			<div id="gos-headerBarR" class="pull-right"></div>
			<div class="line"></div>
		</header>
		<div class="panel-context">
			<div id="gos-Views" ng-view-explorer class="view-stack"></div>
			<div id="gos-Tools"class="view-stack hidden fade">
				<div ng-viewstack="c" viewstack-index="1" class="view-item hidden fade"></div>
			</div>
			<div id="gos-loadingLayer" class="fade hidden">
				<div class="gos-layer-mask"></div>
				<div class="gos-layer-loading"><img src="/assets/img/ajax-loader.gif"></div>
			</div>
		</div>
	</div>
	<div id="gos-rightPanel" class="col-lg-3 col-md-3 col-xs-4" style="display:none;">
		<header class="gos-headerbar">左功能区</header>
		<div class="panel-context footerbar-padding">
			<div class="view"></div>
		</div>
		<footer class="gos-footerbar">f</footer>
	</div>
</div>

<div id="gos-loginContainer" class="fade in">
	<div class="gos-background-box">
		<img src="/assets/img/background/random/1.jpeg"/>
	</div>
	<div class="gos-form-signin-box hidden fade">
		<div id="gos-login-form-signin" class="flat-form text-left">
			<div id="gos-login-message" class="form-group text-danger mtb-10"></div>
			<div class="form-group">
				<input name="login" type="text" value="" class="form-control show-grid" placeholder="电子邮件地址" autofocus="">
			</div>
			<div class="form-group">
				<input name="password" type="password" class="form-control" placeholder="登录密码">
			</div>
			<label class="checkbox" style="margin-left:30px;">
				<input name="remember" type="checkbox" value="1"> 自动登录
			</label>
				
			<button class="btn btn-primary btn-block" type="submit">登 录 &gt;&gt;</button>
		</div>
	</div>
</div>