<div class="container">
    <div class="row mgt-50">
        <div class="list-group col-xs-6">
            <a href="/rzrq/sum" class="list-group-item">
                两市融资融券图表
            </a>
            <a  href="http://cn.investing.com/indices" target="_blank" class="list-group-item">
                INVESTING 指数中心
            </a>
        </div>
    </div>

    <div class="row mgt-50">
        <h4>资料中心</h4>
        <ul class="">
            <li>
                <a href="/center/docs/2015-08-31_list.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> 2015-08-31 国家队拉伸股票名单 PDF</a>
                <a href="/center/docs/2015-08-31_list.xls" target="_blank"><i class="mgl-20 fa fa-file-excel-o"></i> 2015-08-31 国家队拉伸股票名单 EXCEL</a>
            </li>
        </ul>
    </div>
</div>
