<div class="container">
    <div class="col-xs-12 chart-container">
        <div id="chartRzyeLine" class="chart"></div>
    </div>
    <div class="col-xs-12 chart-container">
        <div id="chartRzyeBar" class="chart"></div>
    </div>

    <div class="col-xs-12 chart-container">
        <div id="chartRzmreLine" class="chart"></div>
    </div>
    <div class="col-xs-12 chart-container">
        <div id="chartRzmreBar" class="chart"></div>
    </div>

    <div class="col-xs-12 chart-container">
        <div id="chartRqyeLine" class="chart"></div>
    </div>
    <div class="col-xs-12 chart-container">
        <div id="chartRqyeBar" class="chart"></div>
    </div>

</div>
