<div class="container">
    <div class="col-xs-12 chart-container">
        <h3 class="text-center">融资余额（亿元）</h3>
        <div id="chartRzyeLine" class="chart"></div>
    </div>
    <div class="col-xs-12 chart-container">
        <div id="chartRzyeBar" class="chart"></div>
    </div>

    <div class="col-xs-12 chart-container">
        <h3 class="text-center">融资买入额（亿元）</h3>
        <div id="chartRzmreLine" class="chart"></div>
    </div>
    <div class="col-xs-12 chart-container">
        <div id="chartRzmreBar" class="chart"></div>
    </div>

    <div class="col-xs-12 chart-container">
        <h3 class="text-center">融券余额（亿元）</h3>
        <div id="chartRqylyeLine" class="chart"></div>
    </div>
    <div class="col-xs-12 chart-container">
        <div id="chartRqylyeBar" class="chart"></div>
    </div>
</div>
